<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calhacks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PatientConfirm"></activity>
        <activity android:name=".ViewProfile" />
        <activity android:name=".ViewPatientContact" />
        <activity android:name=".RequestForm" />
        <activity
            android:name=".DoctorListActivity"
            android:label="@string/title_doctor_list" />
        <activity
            android:name=".DoctorDetailActivity"
            android:label="@string/title_doctor_detail"
            android:parentActivityName=".DoctorListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.calhacks.DoctorListActivity" />
        </activity>
        <activity android:name=".DoctorRegistration" />
        <activity android:name=".DoctorPatientSelect" />
        <activity android:name=".PatientRegistration" />
        <activity android:name=".DoctorHome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>